{% extends 'base.html' %}

{% block content %}

<h2 align="center">Works log</h2>
{% if current_user.is_authenticated %}
<div>
    <a href="/add-job" class="btn btn-primary mt-3 mb-4">Добавить Работу</a>
    <a href="/departments" class="btn btn-primary mt-3 mb-4">Департаменты</a>
</div>
{% endif %}
{% for job in jobs %}
    <div class="mb-3 job">
    <h3>Action #{{ job.id }}</h3>
    <table class="table works mb-1" style="table-layout: fixed;">
        <thead class="table-secondary">
            <tr>
                {% for header in ["Title of activity", "Team leader", "Duration",
                "List of collaborators", "Hazard category", "Is finished"] %}
                    <th scope="col" class="col-md-auto">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <td class="table-primary">{{ job.job }}</td>
                <td class="table-primary">{{ job.team_leader.name }} {{ job.team_leader.surname }}</td>
                <td class="table-primary">{{ job.work_size }} Hours</td>
                <td class="table-primary">{{ job.collaborators }}</td>
                <td class="table-primary">
                    {{ job.categories | map(attribute="name") | join(", ") }}
                </td>
                {% if job.is_finished %}
                    <td class="table-success">Finished</td>
                {% else %}
                    <td class="table-danger">Is not finished</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% if current_user.is_authenticated and (current_user == job.team_leader or current_user.id == 1) %}
        <div>
            <a href="/edit-job/{{ job.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/delete-job/{{ job.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
    {% endif %}
    </div>
{% endfor %}

{% endblock %}