h4 {
    color: #cccccc;
    padding: 20px;
}

dt.col-sm-3 {
    font-size: 18pt;
}

dd.col-sm-9 {
    font-size: 18pt;
}

h1.access {
    background:url("/static/img/emblem.png") no-repeat;
    padding-left: 150px
}