{% set title = "Аварийный Доступ" %}

{% extends "base.html" %}

{% block content %}
<div class="row" id="header">
    <div class="col-md-3 col-md-offset-9">
    </div>
    <h1 class="access">Аварийный доступ</h1>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username_astro.label }}<br>
        {{ form.username_astro(class="form-control") }}<br>
        {% for error in form.username_astro.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ form.password_astro.label }}<br>
        {{ form.password_astro(class="form-control", type="password") }}<br>
        {% for error in form.password_astro.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
        <p>
        {{ form.username_cap.label }}<br>
        {{ form.username_cap(class="form-control") }}<br>
        {% for error in form.username_cap.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ form.password_cap.label }}<br>
        {{ form.password_cap(class="form-control", type="password") }}<br>
        {% for error in form.password_cap.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}